<div class="container border rounded">
  <header>
    <h2>Aplicación de cursos de Hans Buker</h2>
  </header>

  <nav>
    <div class="row">
      <div class="col-md-auto mb-3">
        <button class="btn btn-primary" (click)="mostrarHome()">Home</button>
      </div>
    </div>
  </nav>

  <section>
    <div class="row" *ngIf="mostrar_home">
      <div class="row">
        <h3>Componentes disponibles:</h3>
      </div>
      <div class="row">
        <div class="col-md-1">
          <button class="btn btn-primary mb-3" (click)="mostrarCalculadora()">Ejercicio</button>
        </div>
        <div class="col-md-10">
          <label> Ejercicio de Calculadora</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <button class="btn btn-primary mb-3" (click)="mostrarListaPersonas()">Ejercicio</button>
        </div>
        <div class="col-md-10">
          <label> Ejercicio: Listado de Personas</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <button class="btn btn-primary mb-3" (click)="mostrarCalculadoraModularizada()">Ejercicio</button>
        </div>
        <div class="col-md-10">
          <label> Ejercicio: Calculadora modularizada</label>
        </div>
      </div>

    </div>


  </section>

  <section >
    <div *ngIf="mostrar_app_personas">
      <app-personas></app-personas>
    </div>
  </section>
  <section>
    <div *ngIf="mostrar_app_ejercicio_lista_personas">
      <app-ejercicio-lista-personas></app-ejercicio-lista-personas>
    </div>
  </section>
  <section>
    <div *ngIf="mostrar_app_calculadora">
      <app-ejercicio-calculadora></app-ejercicio-calculadora>
    </div>
  </section>
  <section>
    <div *ngIf="mostrar_app_calculadora_modularizada">
      <app-calculadora-modularizada></app-calculadora-modularizada>
    </div>
  </section>
</div>
