<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-auto">
              <h3 class="card-title">Persona:</h3>
              <p class="card-text">Nombre: {{persona.nombre}}</p>
              <p class="card-text">Apellido: {{persona.apellido}}</p>
            </div>
            <div class="col-md-auto">
                <button type="submit" class="btn btn-info" (click)="emitirRespuesta()">Editar</button>
            </div>
        </div>
    </div>
</div>

